.footer {
  box-sizing: border-box;
  background-color: #0a2850;
  padding: 60px 80px;
  margin: 0;
}
.footer__circle {
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  z-index: -1;
  margin-left: -144px;
  margin-top: -228px;
  padding: 0;
}

.footer__content {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__column_content_social {
  color: white;
  margin-left: 80px;
  align-items: center;
}
.footer__logo {
  width: 105px;
  height: 39px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
}
.footer__column-heading {
  list-style-type: none;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__list-item {
  list-style-type: none;
  margin: 0;
  margin-bottom: 16px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__list-item {
  margin-bottom: 16px;
  margin: 0;
  list-style-type: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}
.footer__social {
  display: flex;
  color: white;
  text-decoration: none;
  padding-right: 10px;
  align-items: center;
  column-gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__social-link:hover {
  color: #c1c1c1;
}
.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding-bottom: 60px;
  padding-top: 108px;
}
